.MovieCard {
    max-width: 45%;
    padding: 20px;
    display: flex;
    flex-direction: column;

    button {
        margin-top: auto;
        cursor: pointer;
    }

    .MovieCardImg img {
        width: 100%;
    }
    h2 {
       margin-bottom: 30px;
    }
    p {
        margin-bottom: 20px;
    }
}