.App {
 display: flex;
 flex-direction: column; 
 margin: 0 auto;
 max-height: 100vh;

  header {
    display: flex;
    justify-content: space-around;
    background: green;
    padding: 10px 0;
    max-height: 15vh;

    .link {
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      font-weight: 600;
      font-size: 32px;
      border: 2px solid transparent;
      padding: 10px 20px;
      transition: all .5s;

      &:hover {
        border: 2px solid white;
      }
    }
  }
}


